<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon_dark_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_gray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_gray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_dark_yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_dark_yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_gray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_gray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon_light_yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_light_yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_dark_green</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
